<ion-view view-title="业务看板" hide-tabs>

        <ion-content overflow-scroll="false">
            <div class="list">
                <!-- <a class="item item-icon-left item-icon-right" ng-click="onCardHolder('tool')">
                     <i class="icon ion-clipboard"></i>
                     名片夹
                     <i class="icon ion-ios-arrow-right"></i>
                 </a>-->
                <ion-item class="item-avatar" style="margin-top: 5px;" ng-click="IndividualGoal('tool')">
                    <img src="img/card_01.png">
                    <h2 style="position: absolute;top:20px;" >个人目标</h2>
                    <i style="position: absolute;top:20px; right:10px;color:#B4B4B4;" class="icon ion-chevron-right dark"></i>
                </ion-item>
                <ion-item  class="item-avatar" ng-click="AreaTarget('tool')">
                    <img src="img/enterprise_infor_query.png">
                    <h2 style="position: absolute;top:20px;">区域目标</h2>
                    <i style="position: absolute;top:20px; right:10px;color:#B4B4B4;" class="icon ion-chevron-right dark"></i>
                </ion-item>

                <ion-item  class="item-avatar" ng-click="regProduct('tool')">
                    <img src="img/enterprise_infor_query.png">
                    <h2 style="position: absolute;top:20px;">区域产品收入</h2>
                    <i style="position: absolute;top:20px; right:10px;color:#B4B4B4;" class="icon ion-chevron-right dark"></i>
                </ion-item>

            </div>

        </ion-content>










</ion-view>